@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.section{
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    min-height: 100vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    
}

 .modal{
    width: 350px;
     min-height: 450px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    animation: votar 900ms infinite linear;

}


@keyframes votar {
    0%{transform: scale(1.0)}
    50%{transform: scale(1.1);}
    100%{transform: scale(1.0);}
    
}

.modal.ocult{
    visibility: hidden;
}

.modal img{
width: 200px;
height: 200px;
object-fit: contain;
}

.modal .info{
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 8px;
}

.modal .info span{
    color: #FC2142;
    font-size: 29px;
    font-weight: bold;
    font-family: 'Dela Gothic One';
    animation: girar 900ms infinite linear;
}
@keyframes girar {
    0%{transform: rotateZ(0deg);}
    50%{transform: rotateZ(10deg);}
    80%{transform: rotateZ(-10deg);}
    100%{transform: rotateZ(0deg);}
    
}

.modal .info h5{
    font-family: 'Dela Gothic One';
    font-size: 25px;
    color: #FC2142;
    font-weight: bold;
}


.modal .btn{
    border: none;
    outline: none;
    background: linear-gradient(90deg,#FC2142,red);
    font-family: 'Dela Gothic One';
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-top-left-radius: 10px;
    margin-top: 9px;
    margin-bottom: 9px;
    width: 80%;
    height: 45px;
    cursor: pointer;

}
