@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


.card{
    width: 400px;
    min-height: 400px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.card form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 50;
}


.card form .img{
    border: solid;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 8px double orangered;
    position: absolute;
    z-index: 100;
    top: -55px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.card form .img img{
    width: 100%;
    height: 100%;
}

.card form .info1{
    width: 100%;
    height: 40px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;


}

.card form .info1 p{
    font-family: 'Dela Gothic One';
    color: orangered;
    font-weight: bold;
    font-size: 19px;
    margin-left: 7px;
}
.card form .input{
    width: 100%;
    height: 45px;
    display: flex;
    margin-top: 8px;
    margin-bottom: 10px;

}



.card form .input input{
    margin-left: 5px;
    border-radius: 10px;
    width: 85%;
    box-shadow: 0px 0px 4px orangered;
    border: none;
    outline: none;
}

.card form .input input::placeholder{
    font-family: 'Dela Gothic One';
    text-align: center;
    color: orangered;
}

.card form button{
    cursor: pointer;
    border: none;
    outline: none;
    width: 80%;
    height: 45px;
    color: white;
    background: linear-gradient(90deg,orangered,yellow);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Dela Gothic One';
    font-weight: bold;


}


@media (max-width:418px){

    .card{
        width: 290px;
    }
}

